<div class="ui three column divided grid">
    <div class="row">
        <div class="column">
            <div class="ui move down reveal">
                <div class="visible content">
                    <img src="/img/mobile.png" class="ui small image">
                </div>
                <div class="hidden content">
                    <img src="/img/node.png" class="ui small image">
                </div>
            </div>
        </div>
        <div class="column">
            <div class="ui container center aligned">
                <blockquote class="instagram-media" data-instgrm-captioned data-instgrm-version="7" style=" background:#FFF; border:0; border-radius:3px; box-shadow:0 0 1px 0 rgba(0,0,0,0.5),0 1px 10px 0 rgba(0,0,0,0.15); margin: 1px; max-width:658px; padding:0; width:99.375%; width:-webkit-calc(100% - 2px); width:calc(100% - 2px);">
                    <div style="padding:8px;">
                        <div style=" background:#F8F8F8; line-height:0; margin-top:40px; padding:62.5278396437% 0; text-align:center; width:100%;">
                            <div style=" background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACwAAAAsCAMAAAApWqozAAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAAAMUExURczMzPf399fX1+bm5mzY9AMAAADiSURBVDjLvZXbEsMgCES5/P8/t9FuRVCRmU73JWlzosgSIIZURCjo/ad+EQJJB4Hv8BFt+IDpQoCx1wjOSBFhh2XssxEIYn3ulI/6MNReE07UIWJEv8UEOWDS88LY97kqyTliJKKtuYBbruAyVh5wOHiXmpi5we58Ek028czwyuQdLKPG1Bkb4NnM+VeAnfHqn1k4+GPT6uGQcvu2h2OVuIf/gWUFyy8OWEpdyZSa3aVCqpVoVvzZZ2VTnn2wU8qzVjDDetO90GSy9mVLqtgYSy231MxrY6I2gGqjrTY0L8fxCxfCBbhWrsYYAAAAAElFTkSuQmCC); display:block; height:44px; margin:0 auto -44px; position:relative; top:-22px; width:44px;"></div>
                        </div>
                        <p style=" margin:8px 0 0 0; padding:0 4px;"> <a href="https://www.instagram.com/p/BMYp27Mg11Q/" style=" color:#000; font-family:Arial,sans-serif; font-size:14px; font-style:normal; font-weight:normal; line-height:17px; text-decoration:none; word-wrap:break-word;" target="_blank">Tahs my role model. ;-)</a></p>
                        <p style=" color:#c9c8cd; font-family:Arial,sans-serif; font-size:14px; line-height:17px; margin-bottom:0; margin-top:8px; overflow:hidden; padding:8px 0 7px; text-align:center; text-overflow:ellipsis; white-space:nowrap;">A photo posted by Oyama Siphula (@oyama_siphula) on <time style=" font-family:Arial,sans-serif; font-size:14px; line-height:17px;" datetime="2016-11-04T10:40:31+00:00">Nov 4, 2016 at 3:40am PDT</time></p>
                    </div>
                </blockquote>
                <script async defer src="//platform.instagram.com/en_US/embeds.js"></script>
                <div class="content">
                    <h5>COUNTRY: <i class="za flag"></i></h5>
                    <a class="header" href="#">Oyama Siphula</a>
                    <div class="meta">
                        <a>Last Seen 2 days ago</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="ui internally celled grid">
                <!-- <div class="three wide column"> -->
                <div class="ui icon message">
                    <div class="content">
                        <div class="header">
                            Status
                        </div>
                        <p>Gather info ...</p>
                    </div>
                </div>
                <!-- </div> -->
                <div class="ui vertical fluid menu">
                  <div class="header item">
                    <h4><i class="notched circle loading icon"></i>
                    SYSTEM MONITOR</h4>
                  </div>
                  <div class="item">
                    <h5><i class="codiepie icon"></i>
                      Cubic Radar</h5>
                  </div>
                  <div class="item">
                    <h5><i class="dashboard icon"></i>
                      Room temperature</h5>
                  </div>
                  <div class="item">
                    <h5><i class="idea icon"></i>
                    Light Mec</h5>
                  </div>
                </div>
            </div>


        </div>
    </div>
</div>
